.col-sm-6{
    color:rgba(255, 255, 255, 1);
	font-family:Montserrat;
}
.a1{
	color: black;
	font-size:48px;
	font-family:Montserrat;
}
.w5{
	color: black;
	font-size:25px;
	font-family:Montserrat;
}
.w6{
	color: black;
	font-size:20px;
	font-family:Montserrat;
}
.s1{
	color: black;
	font-size:35px;
	font-family:Montserrat;
}
.img-card{
	width:99px;
	height:120px;
}



